body {
	font-family:monospace;
	text-align: center;
	background-color: lightblue;
}

.rules {
	align-items: center;
	display: inline-block;
}

.rules_item {
	padding: 6px;
}

.vert {
	display: inline-flex;
	flex-direction: column;
}
.title {
	margin-bottom: 6px;
}
.button {
	margin-top: 6px;
}
.output {
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
}
.horz {
	align-items: center;
	display: inline-block;
}

